@model IEnumerable<string>


<a class="btn btn-block btn-secondary"
   asp-action="List"
   asp-controller="Product"
   asp-route-category="">
    Strona główna
</a>

@foreach (var cat in Model)
{
    <a class="btn btn-block @(cat == ViewBag.SelectedCategory ? "btn-primary" : "btn-secondary")"
       asp-action="List"
       asp-controller="Product"
       asp-route-category="@cat"
       asp-route-productPage="1">
        @cat
    </a>
}